name: CI/CD Pipeline

on:
  push:
    branches:
      - main
      - staging
  pull_request:
    branches:
      - main
      - staging

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pandas  pyspark # Add any other libraries you use
      - name: Verify pyspark installation
        run: python -c "import pyspark; print(pyspark.__version__)"
        
  DataExtraction:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Create Data Directory
        run: mkdir -p App/Data/Raw-Data/

      - name: Run data extraction
        run: python App/Data/Raw-Data/Trigger.py  # Make sure your Trigger.py script path is correct

      - name: Upload CSV as artifact
        uses: actions/upload-artifact@v3
        with:
          name: adult_data_csv  # Artifact name
          path: App/Data/ELT/adult_data.csv  # Corrected path where the CSV is saved

  test:
    runs-on: ubuntu-latest
    needs: DataExtraction
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Download CSV artifact
        uses: actions/download-artifact@v3
        with:
          name: adult_data_csv  # The name of the saved artifact

      - name: Run tests using the CSV
        run: |
          python -c "import pandas as pd; df = pd.read_csv('adult_data.csv'); print(df.head())"
        # Add any additional test commands that require the CSV

  staging:
    runs-on: ubuntu-latest
    needs: test
    if: github.ref == 'refs/heads/staging'
    steps:
      - name: Deploy to Staging
        run: echo "Deploying to Staging environment"
        # Replace echo with actual deployment commands

  production:
    runs-on: ubuntu-latest
    needs: test
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Deploy to Production
        run: echo "Deploying to Production environment"
        # Replace echo with actual deployment commands
